:root {
  --color-main: #769fcd;
  --color-background: #f7fbfc;
  --color-red: #f38181;
  --color-yellow: #fce38a;
  --color-mint: #95e1d3;
  --color-brown: #b4846c;
  --color-green: #27c840;
  --color-grey: #d9d9d9;
}
